<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="jumbotron">
    <h1 class="display-4">{{ 'CART.TEXT' | translate}}</h1>
    <hr>
    <div *ngIf="cart && hasEntries;else other_content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'CART.ENTRY.ID' | translate}}</th>
                    <th scope="col">{{ 'CART.ENTRY.PRICE' | translate}}</th>
                    <th scope="col">{{ 'CART.ENTRY.QUANTITY' | translate}}</th>
                    <th scope="col">{{ 'CART.ENTRY.REMOVE' | translate}}</th>
                    <th scope="col">{{ 'CART.ENTRY.TOTAL.PRICE' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of cart.entries;let indexOfelement=index;">
                    <th scope="row">{{indexOfelement+1}}</th>
                    <td>{{entry.productId}}</td>
                    <td>{{entry.entryPrice}}$</td>
                    <td><span class="minus qty-selector" (click)="updateEntryQty(entry.productId,entry.qty-1)"><i
                                class="fa fa-minus"></i></span><span class="cart-quantity">{{entry.qty}}</span><span class="plus qty-selector" (click)="updateEntryQty(entry.productId,entry.qty+1)"><i
                                class="fa fa-plus"></i></span></td>
                    <td><span class="remove" (click)="updateEntryQty(entry.productId,0)"><i
                                class="fa fa-trash"></i></span>
                    </td>
                    <td>{{entry.totalPrice}}$</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-8 cart-total">
                <span>{{ 'CART.TOTAL' | translate}}:</span>{{cart.totalPrice}}$
            </div>
            <div class="col-sm-3 checkout-section">
                <a class="btn btn-info btn-block mat-elevation-z8" routerLink="/cart/checkout">{{ 'CART.CHECKOUT' |
                    translate}}&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <div class="cart-empty">
            <div class="text-center">{{ 'CART.EMPTYTEXT' | translate}}</div>
            <img src="./../../../assets/empty-cart.png" />
            <a routerLink='/' class="btn btn-info mat-elevation-z8 btn-block">{{ 'CART.SHOPPING' | translate}}</a>
        </div>
    </ng-template>
</div>
<ngx-spinner></ngx-spinner>