<div class="card mat-elevation-z8">
    <img class="card-img-top" [src]="'./../../../assets/'+product.image">
    <div class="card-body">
        <a [routerLink]="['/product/search', product.id]">
            <div class="mat-subheading-2 card-title">{{product.name}}</div>
        </a>
        <div class="price">{{product.price}}$</div>
        <div class="mat-subheading-1 card-text brand">{{product.brand}}</div>
        <div>{{product.description}}</div>
        <div *ngIf="product.stock;else other_content" class="view-product">
            <div class="status">{{product.stockStatus}}</div>
            <a [routerLink]="['/product/search', product.id]" class="btn btn-info btn-block mat-elevation-z8"><span
                    class="text"> {{ 'PLP.VIEW' | translate}}</span></a>
        </div>
        <ng-template #other_content>
            <div class="min-height"></div>
            <div class="btn btn-danger btn-block disabled mat-elevation-z8">
                {{ 'PDP.OUTOFSTOCK' | translate}}
            </div>
        </ng-template>
    </div>
</div>