<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="container card mat-elevation-z8">
            <div class="heading"><a routerLink='/cart' class="go-back"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></a>{{ 'CHECKOUT.HEADING' | translate}}:
            </div>
            <form [formGroup]="deliveryAddressForm" (ngSubmit)="onSubmit()">
                <div class="form-group text-info font-weight-bold">
                    <label for="inputEmail4">{{ 'LOGIN.EMAIL.TEXT' | translate}}*</label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="{{ 'LOGIN.EMAIL.TEXT' | translate}}">
                    <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" class="text-danger">
                        <div *ngIf="f.email.errors.required">{{ 'LOGIN.EMAIL.REQUIRED' | translate}}</div>
                        <div *ngIf="f.email.errors.email">{{ 'LOGIN.EMAIL.VALID' | translate}}</div>
                    </div>
                </div>
                <div class="form-group text-info font-weight-bold">
                    <label for="inputAddress">{{ 'CHECKOUT.FORM.ADDRESS1.TEXT' | translate}}*</label>
                    <input type="text" class="form-control" id="inputAddress" formControlName="address" placeholder="1234 Main St">
                    <div *ngIf="f.address.errors && (f.address.dirty || f.address.touched)" class="text-danger">
                        <div *ngIf="f.address.errors.required">{{ 'CHECKOUT.FORM.ADDRESS1.REQUIRED' | translate}}</div>
                    </div>
                </div>
                <div class="form-group text-info font-weight-bold">
                    <label for="inputAddress2">{{ 'CHECKOUT.FORM.ADDRESS2' | translate}}</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row text-info font-weight-bold">
                    <div class="form-group col-md-6">
                        <label for="inputCity">{{ 'CHECKOUT.FORM.CITY.TEXT' | translate}}*</label>
                        <input type="text" class="form-control" formControlName="city" id="inputCity">
                        <div *ngIf="f.city.errors && (f.city.dirty || f.city.touched)" class="text-danger">
                            <div *ngIf="f.city.errors.required">{{ 'CHECKOUT.FORM.CITY.REQUIRED' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">{{ 'CHECKOUT.FORM.STATE.TEXT' | translate}}*</label>
                        <input type="text" class="form-control" formControlName="state" id="inputState">
                        <div *ngIf="f.state.errors && (f.state.dirty || f.state.touched)" class="text-danger">
                            <div *ngIf="f.state.errors.required">{{ 'CHECKOUT.FORM.STATE.REQUIRED' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">{{ 'CHECKOUT.FORM.ZIP.TEXT' | translate}}</label>
                        <input type="text" class="form-control" formControlName="zipCode" id="inputZip">
                        <div *ngIf="f.zipCode.errors && (f.zipCode.dirty || f.zipCode.touched)" class="text-danger">
                            <div *ngIf="f.zipCode.errors.required">{{ 'CHECKOUT.FORM.ZIP.REQUIRED' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <button [disabled]="!deliveryAddressForm.valid" type="submit" type="submit" class="btn btn-info mat-elevation-z8 btn-block mb-4">{{ 'CHECKOUT.FORM.PLACEORDER' |
                    translate}}</button>
            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>