<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="container">
    <div class="row mb-4">
        <div class="col-8"></div>
        <div class="col-4 form-inline">
            <input class="form-control mr-sm-2" type="search" (input)="searchProducts($event.target.value)" style="width: 325px;" [placeholder]="search|translate">
        </div>
    </div>
    <div *ngIf="products.length==0" class="text-center">
        <div class="no-items-found">{{'PLP.NOPRODUCTS'|translate}}</div>
        <img src="./../../../assets/no-items-found.png" height="200px" />
        <div class="no-items-text">{{'PLP.NOPRODUCTSHELP'|translate}}</div>
    </div>
    <div class="items">
        <app-product-grid *ngFor="let product of products" [product]="product" class="col"></app-product-grid>
    </div>
</div>
<ngx-spinner></ngx-spinner>